@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  --main-color: #3498db;
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

