#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15 27 83);
    height: 100vh;
    flex-direction: column;
}

body {
    margin: 0px;
    color: white;
    direction: rtl;
}


body,button,input{
    font-family: 'Cairo', sans-serif;
}


#main-title {
    font-size: 100px;
    margin: 0px;
}