.container {
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#btn {
    background-color: rgb(117, 117, 233);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;

    
}